.topMenu{width:960px;height:35px;line-height:35px;margin:0 auto;}
.topMenuL{float:left;}
.topMenuR{float:right;color:#ccc;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#f30;}
.blue{color:#03c;text-decoration:none;}
.hui{color:#999;text-decoration:none;}
.content{width:920px;margin:0 auto;}
.left{width:180px;float:left;}
.right{width:726px;float:right; line-height: 20px;}
.right img{max-width: 690px;}
.leftop{width:180px;height:37px;background:url("../images/skin_1.png") 0 0;}
.leftBg{width:140px;float:left;padding:10px 20px 30px 20px;background:url("../images/left_bg.gif") repeat-y;}
.leftBottom{width:180px;height:8px;font-size:0;clear:both;background:url("../images/skin_1.png") 0 -40px;}
.leftNav{width:140px;float:left;}
.leftNav ul{list-style:none;}
.leftNav li{line-height:29px;display:inline;}
.leftNav li a{width:140px;height:29px;float:left;background:url("../images/skin_1.png") 0 -70px;}
.leftNav li a:hover{background:url("../images/skin_1.png") 0 -110px;color:#fff;}
.hover{width:140px;height:29px;float:left;background:url("../images/skin_1.png") 0 -110px;color:#fff;}
.leftBs{width:16px;height:19px;font-size:0;float:left;background:url("../images/d.gif") 0 0 no-repeat;}
.leftBs1{width:16px;height:19px;font-size:0;float:left;background:url("../images/d.gif") 0 -29px no-repeat;}
.leftBs2{width:25px;height:19px;font-size:0;float:left;background:url("../images/d.gif") -58px -29px no-repeat;}
.rightCon{width:690px;float:left;}
.rightop{width:726px;height:34px;background:url("../images/skin_1.png") 0 -150px;}
.rightopL{float:left;padding-left:24px;padding-top:10px;font-size:14px;font-weight:bold}
.rightopR{float:right;padding-right:20px;padding-top:10px}
.rightBg{width:686px;float:left;padding:15px 20px 10px 20px;clear:both;background:url("../images/right_bg.gif") repeat-y}
.rightBottom{width:726px;height:8px;font-size:0;clear:both;background:url("../images/skin_1.png") 0 -200px}
.td1{padding-left:28px;line-height:35px;overflow:hidden}
.td2{padding:10px 0 10px 28px;line-height:21px}
#menuNav ul{margin:0;padding:0}
.Center-top{width:926px;height:55px;font-size:0;margin:0 auto;}
.Center-Border{width:968px;margin:0 auto;overflow:hidden;}
.Center{width:920px;float:left;padding:14px 20px 10px;overflow:hidden}
.Center-BgLeft{height:200px;width:4px;font-size:0;float:left}
.Center-BgRight{height:200px;width:4px;font-size:0;float:left}
.Center-bottom{width:968px;height:12px;font-size:0;margin:0 auto;background:url("../images/CenterBg.png") 0 -17px}
#DaoHangTiao{background-image:url("../images/pic01.gif");background-repeat:repeat-x;border:1px solid #e5e5e5;height:25px;width:918px;margin:0 auto 20px}
#DaoHangTiao .Jiantou-daohangtiao{width:9px;height:25px;background:url("../images/site.gif") -39px -25px;float:left}
#DaoHangTiao .Txt-daohangtiao{padding:0 10px;line-height:25px;float:left}
#DaoHangTiao .Txt{float:left;height:25px;display:block;line-height:25px;color:#03c;padding:0 15px;border-left:solid 1px #e5e5e5;border-right:solid 1px #e5e5e5}
.Home{width:16px;height:13px;background:url("../images/site.gif") 0 -25px;display:block;padding-top:5px}
.Home:hover{background:url("../images/site.gif") -17px -25px}
#TB_window{background:#fff;border:4px solid #525252;color:#000;display:none;left:50%;position:absolute;text-align:left;top:50%;z-index:100;padding:10px;height:35px;width:180px;line-height:35px;z-index:99}
#TB_window .txt{line-height:35px;margin-left:10px;float:left}
.go-top{width:18px;height:60px;position:absolute;right:-14px}
.go-top a{display:block;cursor:pointer;outline:none}
