@charset "utf-8";
i{font-style:normal;}
img{border:0 none;}
/*======== maincon ========*/
.content{width:920px;margin:0 auto;padding-bottom:10px;overflow:hidden;}
.main_con{height:220px;overflow:hidden;}
/*======== login ========*/
.login_box{float:left;width:206px;height:216px;padding:2px;overflow:hidden;background:url("../images/login_bg.png") no-repeat;}
.login_box .hd h2{height:26px;padding-left:31px;line-height:26px;color:#fff;font-size:14px;font-weight:700;}
.loginform{height:170px;padding:10px 20px;}
.loginform span{margin:0 5px 7px;color:#174e77;display:block;}
.loginform span.cen{padding-top:2px;text-align:center;font-size:12px;}
.form_item{height:24px;line-height:24px;margin-bottom:8px;overflow:hidden;}
.form_item:after{clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.form_item .field{float:left;width:42px;}
.form_item .con{float:left;width:124px;}
.form_item .input_txt{width:116px;height:18px;padding:2px;line-height:18px;border:1px solid #aec1cf;}
.auto_login .con{width:168px;}
.auto_login .forgot_pas{display:inline-block;margin-left:22px;color:#666;text-decoration:underline;}
.login_btn a{display:block;width:89px;height:28px;margin-left:39px;line-height:28px;color:#47749b;font-size:14px;font-weight:700;text-align:center;background:url("../images/login.png") no-repeat;}
.login_btn a{color:#47749b!important;}
.reg_btn a{display:block;width:161px;height:34px;margin:12px 0 0 3px;line-height:28px;background:url("../images/regbtnbg.png") no-repeat;}
.reg_btn a{color:#fff!important;}
/*======== flashAD ========*/
.flash_box{float:left;display:inline;margin-bottom:10px;width:480px;height:220px;margin:0 10px;overflow:hidden;position:relative;}
.flash_box .slider,.flash_box .num{position:absolute;}
.flash_box .slider li{list-style:none;display:inline;}
.flash_box .slider img{width:480px;height:220px;display:block;}
.flash_box .num{right:5px;bottom:5px;}
.flash_box .num li{float:left;color:#f27b04;text-align:center;line-height:16px;width:16px;height:16px;font-family:Arial;font-size:12px;cursor:pointer;overflow:hidden;margin:3px 1px;border:1px solid #f27b04;background-color:#fff;}
.flash_box .num li.on{color:#fff;line-height:16px;width:16px;height:16px;font-size:14px;margin:3px 1px;border:1px solid #f27b04;background-color:#f27b04;font-weight:bold;}
/*======== notice_box ========*/
.notice_box{float:left;width:206px;height:216px;padding:1px;border:1px solid #fcdab9;}
.notice_box .tab_nav{height:30px;background:url("../images/tab_navbg.png") repeat-x;}
.notice_box .tab_nav:after{clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.notice_box .tab_nav li{float:left;width:103px;}
.notice_box .tab_nav li.on{background:url("../images/tab_navon.png") repeat-x;}
.notice_box .tab_nav li a{display:block;width:103px;height:30px;line-height:30px;color:#f27b04;font-size:14px;font-weight:700;text-align:center;}
.notice_box .tab_nav li a:hover{text-decoration:none;}
.notice_box .tcon{position:relative;height:166px;padding:10px 14px;}
.notice_box .text_list{height:145px;overflow:hidden;}
.notice_box .text_list li{height:18px;padding:5px 0;overflow:hidden;border-bottom:1px dotted #f0f0f0;background:url("../images/dian.png") no-repeat 0 13px;}
.notice_box .text_list li a{display:block;height:18px;padding-left:10px;line-height:18px;overflow:hidden;}
.notice_box .tcon .more{position:absolute;left:13px;bottom:6px;display:block;padding-left:10px;color:#f04d00;background:url("../images/icon.png") no-repeat 0 5px;}
/*======== 优惠券 ========*/
.coupon{height:152px;margin-top:10px;background:url("../images/yhj_bg.png") no-repeat;}
.coupon h2{display:none;}
.app_shop_box .hd{height:30px;padding-bottom:5px;line-height:30px;}
.app_shop_box .bd{height:250px;}
.app_sp_show{position:relative;left:100px;top:24px;width:804px;}
.app_sp_show .arr_prev,.app_sp_show .arr_next{position:absolute;top:30%;display:block;width:14px;height:19px;text-indent:-2000px;overflow:hidden;cursor:pointer;background:url("../images/next.png") no-repeat;}
.app_sp_show .arr_prev{left:0;}
.app_sp_show .arr_next{right:0;background-position:-15px 0;}
.sp_show_pro{width:752px;margin:0 26px;overflow:hidden;*_zoom:1;}
.sp_show_list{height:108px;margin-left:-18px!important;overflow:hidden;}
.sp_show_list li{float:left;display:inline;width:136px;height:108px;margin:0 0 0 18px;overflow:hidden;}
.sp_show_list li a img{display:block;width:130px;height:80px;padding:2px;text-align:center;border:1px solid #d3d3d3;}
.sp_show_list li a span{display:block;height:14px;margin-top:5px;line-height:14px;text-align:center;overflow:hidden;}
/*======== 通栏广告 ========*/
.order_flow{height:60px;margin-top:10px;}
/*======== 活动店铺 ========*/
.wapper{margin-top:10px;}
.wapper:after{clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.act_shop{float:left;display:inline;width:698px;height:592px;margin-right:10px;overflow:hidden;border:1px solid #fcdab9;}
.act_shop .hd{position:relative;height:30px;line-height:30px;background:url("../images/tab_navbg.png") repeat-x;}
.act_shop .hd h3{padding-left:15px;color:#f27b04;font-size:14px;font-weight:700;}
.act_shop .other_nav{position:absolute;right:10px;top:0;}
.act_shop .other_nav{height:30px;background:url("../images/tab_navbg.png") repeat-x;}
.act_shop .other_nav:after{clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.act_shop .other_nav li{float:left;width:80px;}
.act_shop .other_nav li.on{background:url("../images/tab_navon.png") repeat-x;font-weight:700;}
.act_shop .other_nav li a{display:block;width:80px;height:30px;line-height:30px;color:#f27b04;font-size:12px;text-align:center;}
.act_shop .other_nav li a:hover{text-decoration:none;}
.shop_list{margin-left:-1px;padding-top:20px;overflow:hidden;zoom:1;}
.shop_list li{float:left;display:inline;width:150px;height:115px;margin:0 0 22px 20px;overflow:hidden;}
.shop_list li a{display:block;}
.shop_list li a img{display:block;width:144px;height:85px;padding:2px;border:1px solid #d3d3d3;}
.shop_list li a span{display:block;height:14px;margin-top:5px;line-height:14px;text-align:center;overflow:hidden;}
/*========  ========*/
.side_box{float:left;width:210px;overflow:hidden;}
.adver1_box a{display:block;}
.adver1_box a img{display:block;width:210px;height:160px;overflow:hidden;}
/*======== 店铺推荐 ========*/
.shop_tops{width:206px;height:280px;margin-top:10px;padding:1px;overflow:hidden;border:1px solid #fcdab9;}
.shop_tops .tab_nav{height:30px;background:url("../images/tab_navbg.png") repeat-x;}
.shop_tops .tab_nav:after{clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.shop_tops .tab_nav li{float:left;width:103px;text-align:center;}
.shop_tops .tab_nav li.on{background:url("../images/tab_navon.png") repeat-x;}
.shop_tops .tab_nav li a{width:103px;height:30px;line-height:30px;color:#f27b04;font-size:14px;font-weight:700;}
.shop_tops .tab_nav li a:hover{text-decoration:none;}
.shop_tops .tcon{padding:10px 14px;}
.tops_list{overflow:hidden;zoom:1;}
.tops_list li{float:left;width:180px;height:14px;margin-bottom:10px;line-height:14px;overflow:hidden;}
.tops_list li i{float:left;width:14px;height:14px;line-height:14px;color:#fff;text-align:center;background-color:#999;}
.tops_list li i.num1{background-color:#f27b04;}
.tops_list li a{padding-left:8px;overflow:hidden;zoom:1;}
.adver2_box p{margin-top:10px;}
.adver2_box p a{display:block;}
.adver2_box p a img{display:block;width:210px;height:130px;overflow:hidden;}

.adver3_box{height:60px;margin:10px 0 0 -10px;overflow:hidden;zoom:1;}
.adver3_box:after{clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.adver3_box div{float:left;display:inline;margin-left:10px;}
.adver3_box a{display:block;}
.adver3_box a img{display:block;height:60px;overflow:hidden;}
.adver3_box .adv01 a img{width:260px;}
.adver3_box .adv02 a img{width:430px;}
.adver3_box .adv03 a img{width:210px;}

.friend_link{height:34px;padding-left:10px;line-height:34px;background-color:#f5f5f5;}
.friend_link strong{display:inline-block;margin-right:10px;}
.friend_link a{display:inline-block;margin-right:10px;}
.friend_link .more{color:#174e77;}

.subfooter{padding:20px 0 10px 60px;margin:10px auto 0;background:url(../images/hd-sp.gif) repeat-x 0 -929px}
.subfooter dl{float:left;width:165px;margin-right:48px;display:inline}
.subfooter dt{font-size:15px;padding:0 0 4px 4px;margin-bottom:2px;border-bottom:solid 1px #eaeaea;font-family:"\5FAE\8F6F\96C5\9ED1";color:#424242;font-weight:bold}
.subfooter dd{padding-left:14px;background:url(../images/hd-sp.gif) -251px -618px no-repeat;line-height:24px;*font-family:\5b8b\4f53}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}/*\*/* html .clearfix{height:1%}.clearfix{display:block}

#f_show{OVERFLOW-Y:auto;width:400px;}
#f_show h3{background:#4c77aa;color:#fff;font-size:14px;padding:3px;margin:1px;}
#f_show h3 a{font-size:12px;text-indent:2em;background:#4c77aa;color:#fff;}
#f_show p{padding:1px;margin-top:1px;}
#f_text{font-size:12px;text-indent:2em;line-height:20px;margin-top:1px;}
#f_show #f_text a{display:block;text-decoration:none;width:395px;height:18px;margin-left:2px;margin-top:1px;}
#f_show #f_text a:hover{background-color:#FCC;}