/*--开通店铺Start--*/
#addStore{margin-top:30px;}
.openStore{padding-left:20px;}
.addStoreInfoName{display:block; width:80px;}
.inputStyle{display:block;float:left;width:100px;}
/*--开通店铺End--*/
 
/*--商品分类Start--*/
/* navsort */
.navsort,.carbox,.allsort,.allsort .mt .extra,.allsort h3,.allsort s,.allsort .close{background:url(../images/nav-sort.gif) no-repeat;}
.navsort{width:780px;height:50px;background-position:0 1px;background-repeat:repeat-x;margin:0 auto 0 auto;}
.carbox{width:226px;height:50px;float:right;background-position:0 -152px;}
.searcbox{width:334px;height:31px;overflow:hidden;float:left;margin:10px 0 0 15px;display:inline;background:url(../images/searchbox.gif) no-repeat;}
.searcboxContent{margin:0;padding:0;float:left;border:0;width:258px;height:29px;overflow:hidden;}
.searchButton{display:block;float:left;margin:0;padding:0;color:#F60;font-size:16px; font-weight:bold; text-align:center;float:left;border:0; background-color:#CCC; width:75px;height:29px;line-height:29px;background:url(../images/hd-sp.gif) -38px -65px;}
.addProductBox{margin:0;padding:0;margin:10px 0 0 130px;float:left;text-align:center;background-color:#FEF8EF; width:80px;height:29px;line-height:29px;-moz-border-radius:5px;-webkit-border-radius:5px;khtml-border-radius: 5px;border-radius: 5px;}
.addProductBox .addProduct{dislay:block;color:#1B578A;font-size:16px; font-weight:bold; }
/*allsort*/
.allsort{float:left;width:211px;height:50px;background-position:0px -101px;position:relative;z-index:11;}
.allsort .mt{height:24px;padding:14px 12px 12px 16px;line-height:24px;cursor:pointer;overflow:hidden;}
.allsort .mt strong{float:left;font-size:14px;color:#630;}
.allsort .mt .extra{float:right;overflow:hidden;width:22px;height:22px;background-position:-214px -52px;}
.allsort .mc{display:none;position:absolute;top:45px;overflow:visible;width:203px;padding:0 3px 0;border:solid #C40000;border-width:0 1px 1px;background:#FEF8EF;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}
.allsort .item{width:203px;height:32px;border-top:1px solid #FDE6D2;}
.allsort .fore{border-top:none;}
.allsort span{display:block;width:203px;position:relative;z-index:1;}
.allsort h3{font-size:14px;width:140px;height:30px;padding-left:20px;border:solid #FEF8EF;border-width:1px 0 1px 1px;background-position:-241px -57px;font-weight:normal;}
.allsort h3 a:link,.allsort h3 a:visited{display:block;height:30px;line-height:30px;color:#333;}
.allsort h3 a:hover,.allsort h3 a:active{color:#1B578A;}
.allsort s{display:block;position:absolute;top:10px;left:182px;width:13px;height:13px;background-position:-218px -106px;}
.allsort .item .i-mc{display:none;position:absolute;left:163px;top:0;width:500px;border:1px solid #c30;background:#FFF9EF;overflow:hidden;}
.allsort .item dt{padding:3px 6px 0 0;font-weight:bold;}
.allsort .item dd{padding:3px 0 0;overflow:hidden;zoom:1;}
.allsort .subitem{float:left;width:464px;min-height:400px;height:400px;padding:0 4px 0 8px;}
.allsort .subitem dl{border-top:1px solid #FFEFD7;padding:6px 0;overflow:hidden;zoom:1;}
.allsort .subitem .fore{border-top:none;}
.allsort .subitem dt{float:left;width:54px;line-height:22px;text-align:right;color:#c00;}
.allsort .subitem dd{float:left;width:402px;}
.allsort .subitem em{float:left;height:14px;margin:4px 0;line-height:14px;padding:0 8px;border-left:1px solid #ccc;font-style:normal;white-space:nowrap;}
.allsort .fr{background:#fff;width:194px;padding:0 15px 2010px 15px;margin-bottom:-2000px;float:right;}
.allsort .fr dl{padding-bottom:0;}
.allsort .mc .extra{padding:7px 8px;background:#FDF1DE;border-top:1px solid #FDE6D2;}
.allsorthover{background-position:0 -50px;}
.allsorthover .mt .extra{background-position:-214px -75px;}
.allsorthover .mc{display:block;}
.allsort .hover span{z-index:13;width:160px;}
.allsort .hover h3{font-size:14px;border:solid #c30;border-width:1px 0 1px 1px;overflow:hidden;background:url(../images/nav-sort.gif) #FFF9EF no-repeat -241px -57px;font-weight:bold;}
.allsort .hover s{display:none;}
.allsort .hover .i-mc{display:block;z-index:12;}
*html .allsort .item dd{padding-bottom:6px;}
*html .allsort .subitem{height:400px;}
.allsort .close{position:absolute;top:6px;left:474px;z-index:14;width:19px;height:19px;background-position:-216px -125px;cursor:pointer;}
/*--商品分类End--*/

/*--商品管理Start--*/ 
.productList{width:780px;overflow:hidden;height:auto; margin-top:10px; text-align:center; border:1px solid #F60;}
.productList .productInfo{width:120px;height:100px; border:1px solid #000; float:left;margin:17px;}
.productList .productInfo .productImg{height:80px}
.productList .productInfo .productOperation{text-align:center;height:20px;line-height:20px; border-top:1px solid #000;}
.productList .productInfo .productOperation a{display:block; float:left; width:60px;}
/*--商品管理End--*/

/*--订单管理Start--*/
.orderSearch{width:780px;height:50px;line-height:50px;padding-left:5px;background:url(../images/nav-sort.gif);background-position:0 0;background-repeat:repeat-x;margin:0;-moz-border-radius:5px;-webkit-border-radius:5px;khtml-border-radius: 5px;border-radius: 5px;}
.searchTime, .searchCusOrOrderNum, .searchSubmitBtn, .searchSubmitBtnIn{float:left;margin-right:2px;}
.searchTime input, .searchCusOrOrderNum input{width:160px; height:20px;}
.searchTime span, .searchCusOrOrderNum span, .searchSubmitBtn{color:#FFF;}
.searchSubmitBtn{width:50px;height:50px;line-height:50px;}
.searchSubmitBtnIn {margin:0;padding:0;width:50px; height: 24px; margin:12px 0; border: none; background: #FF8901; color: #FFF; line-height: 18px; text-align:center; letter-spacing: 1px; cursor: pointer;-moz-border-radius:5px;-webkit-border-radius:5px;khtml-border-radius: 5px;border-radius: 5px; }
.orderList{clear:both;width:100%;margin-top:10px;}
.orderList table{border-collapse:collapse;width:785px; border:1px solid #F60;}
.orderTd{width:18%; height:30px;text-align:center;border:1px solid #F60;font-weight:bold;}
.orderTdAct{width:10%;height:30px; text-align:center;border:1px solid #F60;font-weight:bold;}
.orderTbBorder{border:1px dashed #F60;height:25px;text-align:center;}
.orderDetailBtn{display:block;width:50px; height:20px;margin:0 auto;background-color:#999;color:#FFF;-moz-border-radius:5px;-webkit-border-radius:5px;khtml-border-radius: 5px;border-radius: 5px;}
.hightLight{background-color:#CCC;}
.orderDetailTable{border-collapse:collapse;width:600px; border:1px solid #999;}
.orderDetailTable td{border:1px solid #999; height:30px;}
.orderDetailTable td input[type="text"]{margin-left:5px; min-width:160px;height:20px;}
.orderDetailTable td input[type="checkbox"]{margin-left:5px;}
.orderVerify{display:block; clear:both;float:right; text-align:center; width:60px; height:30px;line-height:30px; background-color:#F60; color:#FFF; font-weight:bold; font-size:16px;-moz-border-radius:5px;-webkit-border-radius:5px;khtml-border-radius: 5px;border-radius: 5px;}
/*--订单管理end--*/
 
/*--用户评价管理Start--*/
.userAppList{clear:both;width:100%;margin-top:10px;}
.userAppList table{border-collapse:collapse;width:785px; border:1px solid #F60;}
.userAppTd{width:18%; height:30px;text-align:center;border:1px solid #F60;font-weight:bold;}
.userAppTbBorder{border:1px dashed #F60;height:25px;text-align:center;}
/*--用户评价管理End--*/

/*--底部公共区域Start--*/
.footerAbout {margin:10px auto; display:inline-table; width:920px; padding:10px 0; text-align:center;background:url(../images/hd-sp.gif) repeat-x 0 -929px;}
.subfooter{width:920px; height:120px;padding:20px 0 10px 60px;}
.subfooter dl{float:left;width:165px;margin-right:48px;display:inline}
.subfooter dt{font-size:15px;padding:0 0 4px 4px;margin-bottom:2px;border-bottom:solid 1px #eaeaea;font-family:"\5FAE\8F6F\96C5\9ED1";color:#424242;font-weight:bold}
.subfooter dd{padding-left:14px;background:url(../images/hd-sp.gif) -251px -618px no-repeat;line-height:24px;*font-family:\5b8b\4f53}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}/*\*/* html .clearfix{height:1%}.clearfix{display:block}
/*--底部公共区域End--*/
/*
td {
	font-size: 12px;
	color: #5A5A5A;
}
.bye1left {
	font-size: 12px;
	color: #5a5a5a;
	line-height: 24px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ecdcd4;
	border-bottom-color: #ecdcd4;
	border-left-color: #ecdcd4;
}
.mytd2w {
	line-height: 25px;
	font-size: 13px;
	vertical-align: bottom;
	font-weight: bold;
}
.bye_table_center {
	border: 1px solid #ecdcd4;
}
.bye_table_center1 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #EE7C41;
	border-bottom-color: #EE7C41;
	border-left-color: #EE7C41;
}
.bye_bottom_center {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EE7C41;
	font-size:3px;
	color:#FFFFFF;
}
.bye_table_right {
	border: 1px solid #dddddd;
}
.bye_org {
	color: #FF6600;
	line-height: 19px;
	font-weight: bold;
}
.bye_line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f1e5dd;
}
a {
	font-size: 12px;
	color: #5A5A5A;
	line-height: 20px;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	color: #5A5A5A;
	line-height: 20px;	
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	line-height: 20px;	
	text-decoration: underline;
}
.req{
	color: #FF0000;	
}*/