/* 开通店铺 */
#addStore{margin-top:30px;}
.openStore{padding-left:20px;}
.addStoreInfoName{display:block; width:80px;}
.inputStyle{
	display:block;float:left;width:100px;
}

/* 底部公共区域 */
.footerAbout {margin:10px auto; display:inline-table; width:920px; padding:10px 0; text-align:center;background:url(../images/hd-sp.gif) repeat-x 0 -929px}
.subfooter{width:920px; height:120px;padding:20px 0 10px 60px;}
.subfooter dl{float:left;width:165px;margin-right:48px;display:inline}
.subfooter dt{font-size:15px;padding:0 0 4px 4px;margin-bottom:2px;border-bottom:solid 1px #eaeaea;font-family:"\5FAE\8F6F\96C5\9ED1";color:#424242;font-weight:bold}
.subfooter dd{padding-left:14px;background:url(../images/hd-sp.gif) -251px -618px no-repeat;line-height:24px;*font-family:\5b8b\4f53}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}/*\*/* html .clearfix{height:1%}.clearfix{display:block}

/*
td {
	font-size: 12px;
	color: #5A5A5A;
}
.bye1left {
	font-size: 12px;
	color: #5a5a5a;
	line-height: 24px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ecdcd4;
	border-bottom-color: #ecdcd4;
	border-left-color: #ecdcd4;
}
.mytd2w {
	line-height: 25px;
	font-size: 13px;
	vertical-align: bottom;
	font-weight: bold;
}
.bye_table_center {
	border: 1px solid #ecdcd4;
}
.bye_table_center1 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #EE7C41;
	border-bottom-color: #EE7C41;
	border-left-color: #EE7C41;
}
.bye_bottom_center {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EE7C41;
	font-size:3px;
	color:#FFFFFF;
}
.bye_table_right {
	border: 1px solid #dddddd;
}
.bye_org {
	color: #FF6600;
	line-height: 19px;
	font-weight: bold;
}
.bye_line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f1e5dd;
}
a {
	font-size: 12px;
	color: #5A5A5A;
	line-height: 20px;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	color: #5A5A5A;
	line-height: 20px;	
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	line-height: 20px;	
	text-decoration: underline;
}
.req{
	color: #FF0000;	
}*/