@charset "gb2312";
/* CSS Document */

/*norm css*/
.toptxtnav {margin:0 auto 10px; width:900px; height:30px; line-height:30px; font-weight:bold; font-size:14px; color:#184f78;}
.font_16px_green {font-size:16px; color:green; text-decoration:none;}
.font_16px_f60 {font-size:16px; color:#f8560b; text-decoration:none;}
.font_col_gray {color:#777; text-decoration:none;}
.mainnav {margin:0 auto 25px; width:900px;}
.mainnav .mid {width:65px; background:url(../images/iconline.gif) center repeat-y;}

/*norm box*/
.normboxnav {margin-bottom:10px;}
.normboxnav .titnav {height:44px; background:url(../images/normbluebgc.gif) repeat-x; overflow:hidden;}
.normboxnav .titnav .lft {padding-left:40px; width:400px; height:44px; line-height:46px; background:url(../images/normbluebga.gif) top left no-repeat; float:left; font-size:14px; font-weight:bold; color:#000;}
.normboxnav .titnav .rgt {width:100px; height:44px; background:url(../images/normbluebgb.gif) top right no-repeat; float:right;}
.normboxnav .connav {border-left:#d2e4ee 1px solid; border-right:#d2e4ee 1px solid; background:#fff; padding:10px 0 0;}
.normboxnav .botnav {height:6px; background:url(../images/normbluebotbgc.gif) top repeat-x; overflow:hidden;}
.normboxnav .botnav .lft {width:6px; height:5px; background:url(../images/normbluebotbga.gif) top no-repeat; float:left;}
.normboxnav .botnav .rgt {width:6px; height:5px; background:url(../images/normbluebotbgb.gif) top no-repeat; float:right;}

/*form for login & reg*/
.formloginregnav {font-size:14px; color:#000;}
.formloginregnav .inviteipt {padding:3px; height:17px; font-size:13px; font-family:Verdana, Geneva, sans-serif; background:#fff; border:#aec1cf 1px solid;}
.formloginregnav .invitesubmit {width:69px; height:28px; line-height:30px; font-size:14px; font-weight:bold; color:#47749b; background:url(../images/btnbg1.gif) no-repeat; border:0;}
.formloginregnav a {font-size:12px; text-decoration:underline;}

/*err msg*/
.normalmsg {border:#fff 1px solid; padding:3px 3px 2px; background:#fff; font-size:12px; color:#777; display:inline-block;}
.errmsg {border:#fc7b7b 1px solid; padding:3px 3px 2px; background:#ffdede; font-size:12px; color:#f00; display:inline-block;}
.errmsgbox {padding:60px 60px 70px; text-align:center; font-size:14px; color:#000;}
.errmsgbox .inviteipt {padding:3px; height:17px; font-size:13px; font-family:Verdana, Geneva, sans-serif; background:#fff; border:#aec1cf 1px solid;}
.errmsgbox .tit {font-weight:bold; color:#3472a3; display:block; margin-bottom:20px;}
.errmsgbox .con {display:block;}
.errmsgbox .successfulmsg {font-weight:bold; color:green; display:block;}
.errmsgbox .failemsg {font-weight:bold; color:red; display:block;}

/*========= login.css =========*/
/*login & reg*/
.normlogregbox {}
.normlogregbox .titnav {height:44px; background:url(../images/normbluebgc.gif) repeat-x; overflow:hidden;}
.normlogregbox .titnav .lft {padding-left:40px; width:220px; height:44px; line-height:46px; background:url(../images/normbluebga.gif) top left no-repeat; float:left; font-size:14px; font-weight:bold; color:#000;}
.normlogregbox .titnav .rgt {width:150px; height:44px; background:url(../images/normbluebgb.gif) top right no-repeat; float:right;}
.normlogregbox .connav {border-left:#d2e4ee 1px solid; border-right:#d2e4ee 1px solid; background:#fff; height:256px; padding:10px 0 0;}
.normlogregbox .botnav {height:6px; background:url(../images/normbluebotbgc.gif) top repeat-x; overflow:hidden;}
.normlogregbox .botnav .lft {width:6px; height:5px; background:url(../images/normbluebotbga.gif) top no-repeat; float:left;}
.normlogregbox .botnav .rgt {width:6px; height:5px; background:url(../images/normbluebotbgb.gif) top no-repeat; float:right;}

/*========= register.css =========register.css*/
.regsubmit {margin:15px 0 5px; width:243px; height:28px; line-height:30px; font-size:14px; color:#47749b; background:url(../images/regsubmitbg.gif) no-repeat; border:0;}
.topregflow {float:right; font-size:14px; font-weight:bold; color:#777;}

